.dateselect {
    width: 25%;
    padding: 1vw;
    margin: 2vw;
}

.dayselect {
    width: 16%;
    padding: 1vw;
    margin: 1vw;
}

.upperleft {
    float: left;
    width: 33%;
}

.upperright {
    float: right;
    width: 33%
}

.uppermid {
    display: inline-block;
    width: 34%;
}

.bookinginput {
    padding: 0.5vw;
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    width: 75%;
    
    overflow-wrap: break-word; /*Make text wrap and go down instead of continuing horizontally*/
    word-wrap: break-word;
    hyphens: auto;
    font-family:Georgia, Times, 'Times New Roman', serif;
    margin: 1vw;
}